<div class="row">
    <div class="col">
        <button type="button" class="btn btn-info btn-block" [routerLink]='["/map"]'>Museum Map</button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary btn-block" [routerLink]='["/scan"]'>Scan Exhibit</button>
    </div>
</div>
<div class="text-center">
    <h1 style="text-transform: capitalize;font-size: 80px">SCARCITY</h1>
    <p>Use the information on this page in addition to what you see at the exhibit.</p>
    <iframe width="100%" src="https://www.youtube.com/embed/1cYMW5d_bn4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p class="mt-20">Here are some games you might like...</p>
    <button class="btn-danger btn-block btn-lg">Play the SCARCITY Game</button>
    <button class="btn-warning btn-block btn-lg">Get Scarce!</button>
</div>